/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.bxslider
 *= require font-awesome
 */

@import 'foundation-icons';
@import "font-awesome";

$margin: 5%;
$like_btn : rgba(231, 76, 60,1);


section {
	margin:0;
}



#slider {
	  img {
	  width: 100%;
	}
}


.margin {
  margin: $margin 0;
}

.top-bar-section {
  height: 90px;
  background: rgba(26, 188, 156,.4);

  ul {
    background: rgba(26, 188, 156,1);
  }
}

.top-bar {
  background: rgba(26, 188, 156,1);

  ul li {
  	background: rgba(26, 188, 156,1)
  }

}

  

input.like[value] {
  color: $like_btn;
  border: 1px solid $like_btn;
  font-size:1rem;
  margin: 0 0 0 6px;
}


.side-nav li a:not(.button){
  color:rgba(26, 188, 156,.8);
  margin-left: 5%;
  padding-left: 5%;
}


.side-nav li.green a:not(.button){
  background:rgba(26, 188, 156,.8);
  color: #fff;  
  padding-left: 5%;
  border-radius: 10px;
}

.button.like {
  color: red;
}

.uk-button {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  border: none;
  line-height: 28px;
  min-height: 30px;
  font-size: 1rem;
  padding: 0 12px;
  background: #f7f7f7;
  color: #666;
  border: 1px solid rgba(0,0,0,.2);
  border-bottom-color: rgba(0,0,0,.3);
  background-origin: border-box;
  background-image: -webkit-linear-gradient(top,#fff,#eee);
  background-image: linear-gradient(to bottom,#fff,#eee);
  border-radius: 4px;
  text-shadow: 0 1px 0 #fff;
  
      &:hover {
         color: #000!important;
    
     }
}

.uk-button-primary {
background-color: #009dd8;
color: #fff;
background-image: -webkit-linear-gradient(top,#00b4f5,#008dc5);
background-image: linear-gradient(to bottom,#00b4f5,#008dc5);
border-color: rgba(0,0,0,.2);
border-bottom-color: rgba(0,0,0,.4);
text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

.uk-button-success {
background-color: #82bb42;
color: #fff;
background-image: -webkit-linear-gradient(top,#9fd256,#6fac34);
background-image: linear-gradient(to bottom,#9fd256,#6fac34);
border-color: rgba(0,0,0,.2);
border-bottom-color: rgba(0,0,0,.4);
text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

.uk-button-danger {
background-color: #d32c46;
color: #fff;
background-image: -webkit-linear-gradient(top,#ee465a,#c11a39);
background-image: linear-gradient(to bottom,#ee465a,#c11a39);
border-color: rgba(0,0,0,.2);
border-bottom-color: rgba(0,0,0,.4);
text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}